
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}



.main-content{  
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* dropdown contact menu */

.dropbtn {
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #fbfcfce3;
    background-color: #0a1255db;
    bottom: 5%;
    width: 100%;
    height: 50px;
    
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color: #002333;
    color: rgb(250, 245, 245);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.right-main-content{
    padding: 2rem 3rem; 
}


body {
        border-radius: 10px;
        background-color: #1a1a1a;
}

.bg-light {
    background-color: #d9e9e8;
  }
  
  .bg-dark {
    background-color: #1a1a1a;
  }

.bg-default{
    background-color: #2D9CDB;
}
 

.btn {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #fbfcfce3;
    background-color: #0a1255db;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    margin-bottom: 100px;
}
  
  .btn:hover {
    background-color: #4363b9;
  }
  
.btn.btn-light {
    background-color: #d9e9e8;
    color: #1a1a1a;
  }
  
  .btn.btn-light:hover {
    background-color: #e55323;
  }
  
  .btn.btn-dark {
    background-color: #1a1a1a;
    color: #d9e9e8;
  }
  
  .btn.btn-dark:hover {
    background-color: #5f5f5f;
  }
  
  

.left-section{
    grid-column: span 2;
    height: 100%;
    background-color: #0459439b;
}
.right-section{
    grid-column: span 5;
    background-color: #3e4a44;
    height: 100%;
    color: #b6d3e3;
}

.right-section div{
    
}


.left-content{
    padding: 2rem 3rem;
}



.profile{
    width: 100%;
    border-bottom: 5px solid #5c789a;
    
}

.image{
    width: 100%;
    text-align: center;
}
.profile img{
    width: 100%;
    border-radius: 50%;
    border: 8px solid #002333;
    
}

.name{
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

.career{
    font-size: 1.2rem;
    color: #a3b8bd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.main-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f7f7f7ec;
    margin-top: 25px;
}

/* .contact-info ul{
    padding-top: 2rem;
}

.contact-info ul li{
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #bfcfe7;
 }
.contact-info ul li i{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #f2f4f5;

}

.contact-info ul li a{
    padding-right: 1rem;
    font-size: 1.2rem;
    color:#bfcfe7;
    text-decoration: none;
} */

.skills-section ul{
    padding-top: 2rem;
}

.skills-section ul li{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}


.skill-title{
    text-transform: uppercase;
    color: #a9c6ad;
    font-size: 1rem;

}

.sub-title{
    padding-top: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #a9c6ad;
}

.sub-para{
    padding: .4rem 0;
    font-weight: bold;
}

.references-section{
    color: #ccc;
}
.references-section li{
    padding: .2rem 0;
}
.references-section li i, a{
    padding-right: .5rem;
    font-size: 1.2rem;
    color: rgb(158, 202, 202);
    text-decoration: none;
}



.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    position: relative;
}

.right-title::after{
    content: "";
    position: absolute;
    width: 60%;
    color: #e6f4f09b;
    height: .2rem;
    border-radius: 12px;
    left: 0;
    top: 105%;
    transform: translateY(-50%);
}

.para{
    line-height: 1.6rem;
    color: #f8f9fa;
    font-size: 1.1rem;
 }



.sect{
    padding-bottom: 2rem;
}

.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title{
    letter-spacing: 1px;
    font-size: 16pt;
    color: #a7c4b2;
    text-transform: uppercase;
}


.tl-title-2{
    letter-spacing: 1px;
    font-size: 1rem;
    color: #f8fcf7;
    text-transform: uppercase;
}

.tl-content{
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.para::before{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #2D9CDB;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}


/*Media Querries*/
@media screen and (max-width:823px){
    .right-title::after{
        width: 40%;
    }
}
@media screen and (max-width:681px){
    .right-title::after{
        width: 30%;
    }
}
@media screen and (max-width:780px){
    .timeline{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:780px){
    .left-section{
        grid-column: span 3;
    }
    .right-section{
        grid-column: span 4;
    }
}
@media screen and (max-width:1200px){
    .main-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .profile img{
        width: 40%;
    }
}
@media screen and (max-width:700px){
    .profile img{
        width: 60%;
    }
}
@media screen and (max-width:390px){
    .name{
        font-size: 1.5rem;
    }
}
